<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AddressCommon" version="2.0000.00.16" targetFramework="net45" />
  <package id="BeITMemcached.dll" version="1.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.25" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Move_255_SDS.Providers.MPRRouter" version="1.0.14.8390" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>